[submodule "trectools"]
	path = trectools
	url = https://github.com/hyusterr/trectools
[submodule "trectools/"]
	url = https://github.com/hyusterr/trectools/tree/recall
[submodule "deepeval"]
	path = deepeval
	url = https://github.com/hyusterr/deepeval/tree/hyusterr
